html {
    box-sizing: border-box;
    /* background: #ffc600; */
    font-family: 'helvetica neue';
    font-size: 10px;
    font-weight: 100;
  }
  
  body {
    margin: 0;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .container{
    height: 100vh;
  }

  .container h1{
    height: 20vh;
    padding-top: 8rem;
    padding-left: 6rem;
    font-size: 4rem;
  }

  .images{
    min-height: 70vh;
    overflow: hidden;
    display: flex;
    padding: 3rem;
  }



  .image{
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
    align-items: center;
    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    transition:
        font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
        flex 1s cubic-bezier(0.61, -0.19, 0.7, -0.11),
        background 0.2s;
    font-size: 10px;
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .img1 {
      background-image: url('../img/img1.jpg');
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
  }

  .img2 {
      background-image: url('../img/img2.jpg');
  }

  .img3 {
      background-image: url('../img/img3.jpg');
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
  }

  .image > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }


.image p{
    padding: 8px;
    font-size: medium;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
  }
  
  .image p:nth-child(2) {
    font-size: 4em;
  }

.img1:hover {
    flex: 2;
  }

  .img2:hover {
    flex: 2;
  }
  .img3:hover {
    flex: 2;
  }





  .footer{
    /* border: 4px solid black; */
    height: 10vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: black;
}