@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

html{
    font-size: 50.5%;
}



 /* navbar style  */

 .main-nav{
    width: 100%;
    height: 10rem;
    display: grid;
    grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
    box-shadow: 0 4px 4px -4px black;
    
 }

 .logo{
    border-radius: 50px;
    display: grid;
    background-color: black;
    grid-column: 1;
    justify-content: start;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 75%;
    padding: 8px;
 }

 .menu{
    /* border: 5px solid yellow; */
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
 }

 .icons{
    /* border: 5px solid red; */
    font-size: 2.5rem;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
 }

 .icons li{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 
 

 .login {
    grid-column: 4;
    height: 100%;
    display: flex;
    justify-items: baseline;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

}

 .login a{
    color: rgb(0, 0, 3, 0.8);
    transition: 0.5s;
    font-size: medium;
    font-style: bold;
 }

 .login-icon{
    font-size: medium;
 }

.logo h2{
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #eee;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo h2 span{
    font-size: 3.5rem;
    
}

.menu-link ul li {
    font-size: 1.8rem;
}

.menu-link ul li a{
    color: rgb(0, 0, 3, 0.8);
    transition: 0.5s;
}

.menu-link ul li:hover > a{
    transform-origin: left;
    color: rgb(0, 0, 3, 1);
    text-decoration: underline;
    transition: 5s;
}